*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

header{
    margin: 100;
    padding: 0;
    background-color: transparent;
    display: flex;
    backdrop-filter: blur(5px);
}
#logo{
    width: 80px;
    padding: 15px 15px;
    color: aliceblue;
    position: relative;
    left: 50px;
}

div{
    padding: 15px 5px;
    position: relative;
    left: 400px;
}

div .fh{

}

#fh1{
    margin-left: 10px;
    color: aliceblue;

}

button{
    align-items: end;
    position: relative;
    left: 850px;
    box-sizing: content-box;
    width: 70px;
    height: fit-content;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
}