*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

body{
    background-image: url("bgimage.jpg");
    overflow: scroll;
    background-size: cover;
    background-position: center;
    height: 80vhvh;
    width: 100vw;
}

header{
    padding: 0;
    background-color: transparent;
    display: flex;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
#logo{
    font-width: 80px;
    padding: 15px 15px;
    color: rgb(214, 172, 31);
    position: relative;
    font-family: cursive;
    font-size: large;
}


button{
    padding: 5px 20px;
    border-radius: 25px;
    border: 0;
    background-color: rgb(214, 172, 31);
}

div{
    padding: 15px 5px;
    position: relative;
    /* left: 400px; */
}

div .fh{

}

#fh1{
    margin-left: 10px;
    color: aliceblue;
    display: inline-block;
    text-decoration: none;

}

main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 50px;
    gap: 50px;
}

main > * {
    flex: 1;
}

.myDetails {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2ch;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 250px;
}

.pic-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPic {
    background-image: url("apatel.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 00px;
    overflow: hidden;
    border-radius: 100px;
    margin-top: 100px;
}

#name{
    font-size: 6ch;
    color: rgb(214, 172, 31);
    font-family: cursive;
    font-weight: 600;
}

footer{ 
    height: 10vh;
    color: aliceblue;
    background-color: black;
    align-items: center;
    text-align: center;
    margin-top: 250px;
}

/* This is for login page  */

button {
    width: auto;
    color: white;
    cursor: pointer;
}

form{
    border: 2px solid #f1f1f1;
    margin: 0px 550px 0px 550px;
}

input[type=text],input[type=password]{
    width: 10%;
    margin: 8px 0px;
    padding: 5px 100px;
    color: black;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}

button:hover{
    opacity: 0.7;
}

.cancelbtn{
    width: auto;
}

.container{
    padding: 25px;
}